body {
    background-color: lightgrey;

}
.grid-container {
    display: grid;
    grid-template-columns: 40% auto;
}
.grid-container > div {
    text-align: center;
    padding: 20px 10px;

}
.grid-container > div > h1 {
    padding-top: 20px;

}

#button1 {
    display: inline-block;
    font-family: "American Typewriter";
    padding: 10px 40px;
    background-color: #1A5173; /* Choose your desired background color */
    text-align: center;
    text-decoration: none;
    border-radius: 10px; /* Adjust the border-radius to control the roundness */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button1 a {
    color: white;
    text-decoration: none;
}
/* */
#button2 {
    display: inline-block;
    font-family: "American Typewriter";
    padding: 10px 35px;
    background-color: #1A5173; /* Choose your desired background color */
    text-align: center;
    text-decoration: none;
    border-radius: 10px; /* Adjust the border-radius to control the roundness */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button2 a {
    color: white;
    text-decoration: none;
}

#quote {
    margin: 20px 0;
    font-family: "American Typewriter", Arial;
}
footer {
    width: 100%;
    padding-right: 10px;
    position: absolute;
    background-color: teal;
    bottom: 0;
}
footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}
footer a {
    text-decoration: none;
    color: white;

}