/*General Styles */
body {
    display: flex;
    background-color: lightgrey;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    margin: 0;
}

footer {
    width: 100%;
    padding-right: 10px;
    position: fixed;
    background-color: teal;
    bottom: 0;
}
footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}
footer a {
    text-decoration: none;
    color: white;
}
.left-link {
    float: left;
    padding-left: 10px;
}

/*About Page Styles */
.about-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px;
}

.about-left {
    width: 40%;
    flex: 1;
    padding: 10px;
}
image {
    max-width: 400px;
}
.about-right {
    flex: 1;
    box-sizing: border-box;
    margin-top: 10px;
}
.about-right h1 {
    text-align: center;
}
header {
    padding-top: 20px;
}

h1 {
    column-span: all;
    font-family: "adelia", sans-serif;
    color: #342316;
}
div {
    column-gap: 40px;
}

.image {
    float: right;
    width: 300px;
    height: 170px;
}

footer {
    width: 100%;
    padding-right: 10px;
    position: fixed;
    background-color: #1A5173;
    bottom: 0;
}
footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}
footer a {
    text-decoration: none;
    color: white;

}
#home-btn {
    display: inline-block;
    font-family: "American Typewriter", sans-serif;
    padding: 10px 40px;
    background-color: #1A5173;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    margin-right: 30px;
    margin-left: 60px;
}

/* */
#about-btn {
    display: inline-block;
    font-family: "American Typewriter", sans-serif;
    padding: 10px 35px;
    background-color: #1A5173;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

/*hobby Styles */
#image-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 0%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #008080;
    padding: 0;
    text-align: center;
}
figure {
    text-align: center;
    color: #008080;

}
figcaption {
    font-style: italic;
    font-size: 0.75em;
}
#hobby-container h1 {
    text-align: center;
}
.hobby-description {
    text-align: center;
    font-family: "American Typewriter", sans-serif;
}
/*index styles*/
.index-grid-container {
    display: grid;
    grid-template-columns: 40% auto;
}
.index-grid-container > div {
    text-align: center;
    padding: 10px 10px;

}
.index-grid-container > div > h1 {
    padding-top: 20px;

}

#button1 {
    display: inline-block;
    font-family: "American Typewriter", sans-serif;
    padding: 10px 40px;
    background-color: #1A5173;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button1 a {
    color: white;
    text-decoration: none;
}
/* */
#button2 {
    display: inline-block;
    font-family: "American Typewriter";
    padding: 10px 35px;
    background-color: #1A5173; /* Choose your desired background color */
    text-align: center;
    text-decoration: none;
    border-radius: 10px; /* Adjust the border-radius to control the roundness */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button2 a {
    color: white;
    text-decoration: none;
}

#quote {
    margin: 20px 0;
    font-family: "American Typewriter", sans-serif;
}



/* hobby styles*/
.grid-item img {
    width: 300px;
    height: auto;
}
.grid-item {
    background-color: lightgrey;
    border: none;
}
#hobby-container header {
    text-align: center;
}

.gallery-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
}
.gallery-container h1 {
    text-align: center;
}

